* {
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body {
    background: url(../../images/arab_hatter.png);
}

header {
    font-size: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background: url(../../images/hotel_upscaled.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    color: aliceblue;
    padding-bottom: 70px;
    padding-top: 70px;
    justify-content: space-between;
}

header h1 {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
}

main {
margin: 20px;
background-color: aqua;
}