body {
    background: url(../../images/arab_hatter.png);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-image: linear-gradient(to right, rgba(0,0,0,0.6)),url(../../images/hotel_upscaled.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    font-size: 50px;
    color: aliceblue;
    padding-left: 50px;
    box-sizing: border-box;
}

header h1 {
    margin: 0px;
    text-shadow: 2px 2px 4px black;
}

main {
margin: 20px;
background-color: aqua;
}